.file-list {
    display: inline-block;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: overlay;
}
.editor {
    width: 60%;
    display: inline-block;
}
.exit {
    float: right;
    margin: 30px;
}
.title {
    display: inline;
}